body {
    font-family: Arial, sans-serif;
}
.article-list {
    width: 80%;
    margin: 20px auto;
    border: 3px solid #898989;
    padding: 20px;
    box-sizing: border-box;
    border-radius: 5px;
}   
.article {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    border-bottom: 2px solid #9c9b9b;
    padding-bottom: 15px;
}
.article:last-child {
    border-bottom: none;
    margin-bottom: 0;
    padding-bottom: 0;
}
.article img {
    width: 100px;
    height: auto;
    margin-right: 20px;
}
.article-details {
    flex: 1;
}
.article-title {
    font-weight: bold;
    margin-bottom: 5px;
}
.article-actions {
    margin-top: 10px;
}
.btnB {
    padding: 8px 15px;
    background-color: #e91414;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    margin-right: 10px;
    width: 97px;
    height: 35px;
    transition: 0.3s ease;
}

.btnB:hover {
    width: 103px;
    height: 38px;
}
.btnB:not(:last-child) {
    margin-right: 10px;
}

.Listeprincipale .btnA{
    padding: 8px 15px;
    background-color: #e91414;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    margin-left: 830px;
    width: 120px;
    height: 45px;
    font-size: 20px;
    transition: 0.3s ease;
}

.Listeprincipale .btnA:hover{
    width: 130px;
    height: 50px;
    font-size: 22px;
}

.Listeprincipale {
    margin-top: 250px; /* Adjust this value as needed */
}

.icon{
    position: relative;
    font-size: 50px;
    color: black;
    top: 20px;
    transition: transform 0.3s ease;
}

.icon:hover{
    position: relative;
    font-size: 50px;
    color: rgb(246, 7, 7);
    top: 21px;
    transform: rotate(90deg);
}