@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: "Poppins" , sans-serif;
    box-sizing: border-box;
    transition: all.2s linear;
    text-decoration: none;
    border: none;
}
html {
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 7em;
    scroll-behavior: smooth;
}
body {
    position: relative;
}
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body{
    background: #fff;
    min-height: 100vh;
    overflow-x: hidden;
    
}

@keyframes move {
  100% {
      transform: translate3d(0, 0, 1px) rotate(360deg);
  }
}

/*Scrollbar CSS*/

::-webkit-scrollbar {
    width: 8px;
    background-color: transparent;
}
::-webkit-scrollbar-thumb{
    background-color: #ea1f33;
}

#article {
    margin-top: 130px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.section_title {
    text-transform: uppercase;
    position: relative;
    top: 50px;
    bottom: 30px;
    font-size: 25px;
}
.section_title:before {
    position: absolute;
    left: 10px;
    bottom: 0;
    content: "";
    background-color: #ea1f33;
    width: 100%;
    height: 5px;
    border-radius: 6px;
}
.section_title:after {
    position: absolute;
    top: 0;
    left: -10px;
    content: "";
    background-color: #ea1f33;
    width: 100%;
    height: 5px;
    border-radius: 6px;
}
.images {
    margin: 100px auto;
    padding: 0 8%;
    border-radius: 50%;
}
.images ul {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}
.images li {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2.665%;
    transition: 0.5s;
    height: 300px;
    width: 28%;
}

.images li div {
    width: 100%;
    height: 60%;
    margin-bottom: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
}
.images li div img {
    height: 100%;
    width: 100%;
    border-radius: 15px;
}

.images li:hover {
    transform: scale(1.1);
    margin: 20px;
}
.images li span {
    color: #000;
    font-size: 18px;
}

#article {
    margin-top: 80px; /* Ajoute une marge égale à la hauteur de la barre de navigation */
    border-radius: 40%;
}

#article li span.prix {
   color: #ea1f33;
   font-weight: bold;
   margin-bottom: 0px;
}
#article li a {
    border:2px solid black;
    background-color: #ffffff;
    color: #ea1f33;
    padding: 5px 40px;
    font-size: 15px;
    border-radius: 15%;
}

.menu_toggle {
    display: none;
}

/*Responsive*/
@media (max-width:682px) {
    header {
        padding: 0 10px;
    }
    header .menu {
        display: none;
    }
    #home {
        padding:  0 10px;
        justify-content: center;
        flex-direction: column;
    }
     #home .left ,   #home .right {
        width: 100%;
    }
    #home h1 {
        margin-top: 100px;
    }
    .right {
        margin-top: 50px;
        width: 60%;
    }
    .images li {
        width: 100%;
    }
    #services {
        padding: 0 10px;
    }
    .service {
        width: 100%;
    }
    #contact {
        height: auto;
    }
    .localisation_contact_div {
        height: auto;
        flex-direction: column;
        width: 100%;
    }
    .localisation{
        width: 100%;
        margin-bottom: 30px;
    }
    .localisation_contact_div .form_contact {
        width: 100%;
        
    }
    .menu_toggle {
        height: 50px;
        width: 50px;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
    }
    .menu_toggle span {
       width: 35px;
       background-color: #ea1f33;
       height: 5px;
       border-radius: 6px;
       transition: 0.5s;
    }
    .menu_toggle span.active {
        width: 0px;
    }
    .menu_toggle::before {
        position: absolute;
        content: "";
        width: 20px;
        height: 5px;
        background-color: #ea1f33;
        transform:translateY(10px);
        border-radius: 6px;
        transition: 0.5s;
    }
    .menu_toggle.active::before {
        width: 28px;
        transform: rotate(45deg);
    }
    .menu_toggle::after {
        position: absolute;
        content: "";
        width: 20px;
        height: 5px;
        background-color: #ea1f33;
        transform:translateY(-10px);
        border-radius: 6px;
        transition: 0.5s;
    }
    .menu_toggle.active::after {
        width: 28px;
        transform: rotate(-45deg);
    }
    header .menu.responsive {
        position: absolute;
        top: 50px;
        left: 0;
        display: flex;
        width: 100%;
        height: 50px;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        z-index: 2;
        background-color: #fff;
        border-top: 1px solid #ccc;
        border-bottom: 1px solid #ccc;
    }
   


}